@keyframes scaleDelayed {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.myself {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px;
  margin-left: 80px;
}

.myselfContent {
  flex: 1;
  text-align: left;
}

.title {
  margin: 0;
  color: #c76d6a;
  font-size: 3em;
}

.subtitle {
  margin-top: 10px;
  color: #515151;
}

.myselfImage {
  margin-left: 10%;
  flex: 1;
  display: flex;
  justify-content: center;
}

.myself img {
  max-width: 70%;
  height: auto;
  transition: transform 0.3s ease; 
  animation: scaleDelayed 1s 6.5s;
}

.myself img:hover {
  transform: scale(1.15);
}

.about {
  text-align: center;
  padding: 40px 0;
}

.titleH2 {
  color: #c76d6a;
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.paragraph {
  margin: 0 auto;
  max-width: 70%;
  line-height: 1.9;
  text-align: center;
}

.dark .title {
  color: #f39f5a;
}

.light .title {
  color: #c76d6a;
}

.dark #titleH2 {
  color: #f39f5a;
}

.light #titleH2 {
  color: #c76d6a; 
}

.dark .subtitle {
  color: whitesmoke
}

.btn-rs {
  cursor: pointer;
  font-weight: 500;
  color: #191818;
  background-image: linear-gradient(90deg, #e89897 .2%, #ffb284 100%);
  border-radius: 25px;
  border: none;
  padding: 10px 20px; 
  text-decoration: none;
  margin: 5px; 
  transition: background-color 0.3s ease; 
}

.btn-rs:hover {
  color: #191818; 
  background-image: linear-gradient(90deg, #ffb284 .2%, #ffb284 100%);
  transform: scale(0.90);
  text-decoration: none;
}

.light .btn-mail {
  cursor: pointer;
  font-weight: 500;
  color: #191818;
  padding: 10px 20px; 
  text-decoration: none;
  margin: 5px; 
  transition: color 0.3s ease;
  border: double 3px transparent;
  border-radius: 20px;
  background-image: linear-gradient(#f7f7f7, #f7f7f7), radial-gradient(circle at top left, #e89897 , #ffb284);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.dark .btn-mail {
  cursor: pointer;
  font-weight: 500;
  color: whitesmoke;
  padding: 10px 20px;
  text-decoration: none;
  margin: 5px; 
  transition: color 0.3s ease;
  border: double 3px transparent;
  border-radius: 20px;
  background-image: linear-gradient(#222221, #222221), radial-gradient(circle at top left, #e89897 , #ffb284);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.btn-mail:hover {
  background-image: linear-gradient(90deg, #e89897 .2%, #e89897 100%);
  color: #191818; 
  transform: scale(0.90);
}

a {
  text-decoration: none; 
  color: inherit; 
}

