.header {
  background-color: #70997a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around; /* Changed from space-around to space-between */
  height: 2em;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right, #c7c19d, #587c61) 1;
  padding: 0 20px;
}

.header-title {
  font-size: 24px;
  margin-left: 46%;
}

.themeToggle {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}

/* Dark mode specific styles */
.dark .header {
  background-color: #662549; /* Dark mode background color */
  color: #ecf0f1; /* Dark mode text color */
  border-image: linear-gradient(to right, #ae445a, #451952) 1;
}

.light .header {
  background-color: #70997a; /* Light mode background color */
  color: white; /* Light mode text color */
  border-image: linear-gradient(to right, #c7c19d, #587c61) 1;
}
