.titleH2Habilities {
  color: #c76d6a;
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.habilities { 
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}

.icon {
  color: #515151;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
}

.habilities .js:hover {
  color: #efc22f;
}

.habilities .java:hover {
  color: red;
}

.habilities .node:hover {
  color: rgb(148, 206, 60);
}

.habilities .py:hover {
  color: #eadc46;
}

.habilities .docker:hover {
  color: rgb(0, 132, 255);
}

.habilities .react:hover {
  color: rgb(65, 207, 233);
}

.habilities .css:hover {
  color: #012acc;
}

.habilities .html:hover {
  color: orangered;
}

.habilities .gh:hover {
  color: black;
}

.dark h1 {
  color: #f39f5a;
}

.dark .icon {
  color: whitesmoke;
}

.light h1 {
  color: #c76d6a;
}

.light .icon {
  color: #515151;
}

.dark #titleH2Habilities {
  color: #f39f5a;; /* Adjust as needed for dark mode */
}

.light #titleH2Habilities {
  color: #c76d6a; /* Original color */
}